body,
button {
    font-family: 'Orbit';
}

/* header */

/* section 1 */
.top {
    text-align: center;
}

.top .title {
    font-size: 3.5rem;
    margin-bottom: 0em;
}

.top button {
    background: none;
    padding: 0.6em 0.75em 0.6em 0.75em;
    border-radius: 5px;
}

.top button:hover {
    cursor: pointer;
}

.top .flex_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .flex_container > div {
    border-style: none;
}

.top .flex_container .photo1 {
    transform: rotate(-8deg);
    background-color: rgb(219, 205, 180);
}

.top .flex_container .postit {
    transform: rotate(8deg);
    width: 10rem;
    height: 10rem;
    background-color: rgb(217, 194, 150);
    align-content: center;
}

.top .flex_container .postit .postit_text {
    display: inline;
    margin: 0;
    height: 100%;
    vertical-align: middle;
}

.top .flex_container .photo2 {
    transform: rotate(8deg);
    background-color: rgb(219, 205, 180);
}

.top .flex_container img {
    width: 12rem;
    height: 12rem;
    padding: 1em;
    padding-bottom: 4em;
}

/* section 2 */
.icon{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}
.mailbox{
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
  }
  .mailbox:hover {
    color: blue;
    text-decoration: none;
  }
  .clock {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
  }
  .clock:hover {
    color: blue;
    text-decoration: none;
  }
  .lock {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
  }
  .lock:hover {
    color: blue;
    text-decoration: none;
  }
/* section 3 */

/* footer */
